#heading {
 opacity: 0;
 transform: translateY(-10px);
}
.model-cont {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 5px;
}
.model-cont-c {
 width: 100%;
 height: 75vh;
}


/* For medium screens and above, set height to 90% of viewport height */
@media (min-width: 768px) {
 .model-cont-c {
  height: 90vh;
 }
}









