<app-navbar></app-navbar>
<app-hero></app-hero>
<app-highlights></app-highlights>
<!-- <app-iphone-model></app-iphone-model> -->
<app-model></app-model>

<p>---------------------------------------------------
 -----------------------------------------------
 ------------------------------------------------
 ------------------------------------------------------
 ------------------------------------------------------------
 --------------------------------
 -------------------------------------------------------------
 -------------------------------------------------------------
 --------------------------------------------------------------
 ---------------------------------------------------
</p>